@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">eHnue</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <CascadingAuthenticationState>
            @*            <AuthorizeView Roles="GV">
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="registration">
            <span class="oi oi-location" aria-hidden="true"></span> GV Đăng ký đi NN
            </NavLink>
            </div>
            </AuthorizeView>*@
            @*<Authorized>*@
            <AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="registration">
                        <span class="oi oi-location" aria-hidden="true"></span>Đăng ký đi NN
                    </NavLink>

                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="approvelist">
                        <span class="oi oi-location" aria-hidden="true"></span>Phê duyệt đi NN
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ApproveLogList">
                        <span class="oi oi-thumb-up" aria-hidden="true"></span>Danh sách đã duyệt
                    </NavLink>
                </div>

                <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Danh mục
                </NavLink>
            </AuthorizeView>
            @if (expandSubNav)
            {
                <AuthorizeView>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="positionList">
                            <span class="oi oi-person" aria-hidden="true"></span> Chức danh
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="DepartmentList">
                            <span class="oi oi-basket" aria-hidden="true"></span> Đơn vị
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="StaffList">
                            <span class="oi oi-people" aria-hidden="true"></span> Cán bộ
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Mod, Admin">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="countrylist">
                            <span class="oi oi-globe" aria-hidden="true"></span> Quốc gia
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="PurposeDetails">
                            <span class="oi oi-target" aria-hidden="true"></span> Mục đích
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ExpenseDetails">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Hình thức chi trả
                        </NavLink>
                    </div>
                </AuthorizeView>

            }

            @* </Authorized>*@

            <AuthorizeView Roles="Mod, Admin">
                <NavLink class="nav-link" @onclick="()=>expandSubNavAd = !expandSubNavAd">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Quản trị
                </NavLink>
                @if (expandSubNavAd)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="approvestate">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Mức phê duyệt
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="assignrole">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Phân quyền phê duyệt
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="userRoleList">
                            <span class="oi oi-key" aria-hidden="true"></span> Thiết lập vai trò
                        </NavLink>
                    </div>
                }
            </AuthorizeView>
            <AuthorizeView>
                <NavLink class="nav-link" @onclick="()=>expandSubNavSys = !expandSubNavSys">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Hệ thống
                </NavLink>

                @if (expandSubNavSys)
                {

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Setting">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Thiết lập
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="logout">
                            <span class="oi oi-key" aria-hidden="true"></span> Đăng xuất
                        </NavLink>
                    </div>
                }
            </AuthorizeView>
            <AuthorizeView>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-key" aria-hidden="true"></span> Đăng nhập
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>


        @* NOTE: END NEW CODE *@
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav, expandSubNavAd, expandSubNavSys;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
